<div class="card" >

    <div *ngIf="showerror" class="alert alert-danger" role="alert my-3">
        Invalid email or password!
    </div>


    <div class="card-body">
      <h5 class="card-title">Login User</h5>
      

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input [(ngModel)]="userEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button (click)="signIn()" class="btn btn-primary">Login</button>
      
        <div class="my-3">
            <button (click)="googleAuth()" type="button" class="btn btn-primary">
                Contiune with Google
            </button>
        </div>

        <div class="my-3">
            <button routerLink="/forgotpassword" type="button" class="btn btn-primary">
                Forgot Password?
            </button>
        </div>

        <div class="my-3">
            <div>Don't have an account?</div>
            <button routerLink="/signup" type="button" class="btn btn-primary">
                Sign Up
            </button>
        </div>

    </div>
  </div>


