<div class="card" >
  
    <div class="card-body">
      <h5 class="card-title">Thank You for Registering</h5>
      <p class="card-text">We have send confirmation email</p>
      <p class="card-text">Please check your email and click the link to verify your email address</p>

     <button (click)="sendVerificationEmail()" class="btn btn-primary">Resend Verification Email</button>
    <div class="my-3">
        <div>Go to back?</div>
        <button routerLink="/signin" class="btn btn-primary">Sing In</button>
    </div>

    </div>
  </div>


