<div class="card" >
  
    <div class="card-body">
      <h5 class="card-title">Reset Password</h5>
      <p class="card-text">Please enter your email to request password reset</p>
     
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input [(ngModel)]="userEmail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

     <button (click)="forgotPassword()" class="btn btn-primary">Reset Password</button>
    <div class="my-3">
        <div>Go to back?</div>
        <button routerLink="/signin" class="btn btn-primary">Log In</button>
    </div>

    </div>
  </div>


